# Imports

In [1]:
import json # to parse the json file
import pandas as pd # because arrays are oldschool (to create dataframes)
from pandas.io.json import json_normalize # for handling nested json
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from geopy.exc import GeocoderTimedOut # geopy usually ends up throwing this exception
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm
import time # for delay
from IPython.display import clear_output # to clear notebook output cell via code

# Data Preparation

In [2]:
with open('collegeList.json') as jsonFile: # refers to the csv we created earlier
    raw_data = json.load(jsonFile) # load data to a python var
print('Data Imported.')

Data Imported.

In [3]:
df = json_normalize(raw_data['info']) # Nested json files need to be normalised

### Sub-Key 'venues' is nested inside of info, so we normalize it using json_normalize()

In [4]:
venues = json_normalize(data = raw_data['info'], record_path = 'venues')
venues.drop('display_area', axis = 1, inplace = True) # this column serves no purpose whatsoever

### Lets check if we successfully extracted the venues data

In [5]:
venues.head()

               area               city         country
0        California      San Francisco   United States
1  Washington, D.C.  Washington, D. C.   United States
2          New York            Buffalo   United States
3           England             London  United Kingdom
4             Wales         Pontypridd  United Kingdom

### Merging df and venues

In [6]:
df = pd.merge(df, venues, right_index=True, left_index=True)

<br><br><br><br>

# Data Cleaning

In [7]:
df.columns # lets revise the columns we have

Index(['degree', 'density.fulltime', 'density.parttime', 'enhanced',
       'fulltime_duration.unit', 'fulltime_duration.value', 'id', 'level',
       'listing_type', 'logo', 'methods.blended', 'methods.face2face',
       'methods.online', 'organisation', 'organisation_id',
       'parttime_duration.unit', 'parttime_duration.value', 'summary', 'title',
       'tuition_fee.currency', 'tuition_fee.unit', 'tuition_fee.value',
       'venues', 'area', 'city', 'country'],
      dtype='object')

In [8]:
# We seriously dont need these columns they are just clutter that we got from json we parsed
columns_to_drop = ['degree', 'density.fulltime', 'density.parttime', 
    'enhanced', 'id', 'level', 'listing_type', 'logo', 'methods.blended',
    'methods.face2face', 'methods.online','parttime_duration.unit', 
    'parttime_duration.value', 'summary', 'title', 'venues', 'fulltime_duration.value', 'fulltime_duration.unit']
df.drop(columns_to_drop, axis = 1,inplace = True)

In [9]:
df.isna().sum()

organisation             0
organisation_id          0
tuition_fee.currency    80
tuition_fee.unit        80
tuition_fee.value       80
area                     1
city                     0
country                  0
dtype: int64

In [10]:
df[df['tuition_fee.currency'] != 'EUR'].count()

organisation            80
organisation_id         80
tuition_fee.currency     0
tuition_fee.unit         0
tuition_fee.value        0
area                    80
city                    80
country                 80
dtype: int64

In [11]:
df = df[df['tuition_fee.currency'].notnull()] #new df from current df where tuition_fee.currency is not null 
df = df[df['area'].notnull()]

According to https://www.geteducated.com/career-center/detail/what-is-a-masters-degree,
To earn a masterâ€™s degree you usually need to complete from 36 to 54 semester credits of study (or 60 to 90 quarter-credits). This equals 12 to 18 college courses. 

45 is average of 36 ad 54!

In [12]:
df.loc[df['tuition_fee.unit'] == 'credit', 'tuition_fee.value'] = (df['tuition_fee.value']*45)/2 
# Multiplying tuition_fee.value by 45 when tuition_fee.unit is 'credit' 
# This gives us average per year fees, to get a uniform fee scale (all fees in per year format)

In [13]:
df.drop(['tuition_fee.currency', 'tuition_fee.unit'], axis=1, inplace=True) 
# since we have uniform values we dont need the currency and unit thus we will drrop them

In [14]:
# creating a column with full address and dropping the seperate columns
# df['location'] = df['area'].map(str)+', '+df['city']+', '+df['country']
# df.drop(['area', 'city', 'country'],axis=1, inplace=True)

In [15]:
df = df.rename(columns = {'tuition_fee.value': 'fees', 'organisation': 'college_name', 'organisation_id': 'id'})

In [16]:
# rearranging the columns
df = df[['id','college_name', 'fees', 'area', 'city', 'country']] # removed location from here on date 20191023

In [17]:
df.head()

,id,college_name,fees,area,city,country,location
0,16651,School of Nursing and Health Professions,29047.5,California,San Francisco,United States,"California, San Francisco, United States"
1,14338,"Kogod School of Business, American University ...",35730.0,"Washington, D.C.","Washington, D. C.",United States,"Washington, D.C., Washington, D. C., United St..."
2,14726,"University at Buffalo, The State University of...",20857.0,New York,Buffalo,United States,"New York, Buffalo, United States"
3,19026,School of Management,21419.0,England,London,United Kingdom,"England, London, United Kingdom"
4,194,University of South Wales,15514.0,Wales,Pontypridd,United Kingdom,"Wales, Pontypridd, United Kingdom"

In [ ]:
def do_geocode(address):
    try:
        return geolocator.geocode(address)
    except GeocoderTimedOut:
        time.sleep(3)
        return do_geocode(address)
    
def get_latlong():
    latitude = []
    longitude = []
    collegeName = df['college_name'].to_list()
    loc = df['location'].to_list()
    
    for i in range(len(collegeName)): 
        address = collegeName[i] +', '+loc[i]
        geolocator = Nominatim(user_agent="foursquare_agent")
        geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
        new['location'] = df['name'].apply(geocode)
        location = do_geocode(address)
        try:# try with college name in address
            latitude.append(location.latitude)
            longitude.append(location.longitude)
        except AttributeError: # if location not found lat long are null 
            try: # try again without the college name in address
                address = loc[i]
                location = do_geocode(address)

                latitude.append(location.latitude)
                longitude.append(location.longitude)
            except: # if an address is not found at all simply write None to list
                latitude.append(None)
                longitude.append(None)
        clear_output() # if we dont too much space taken by output
        print('Obtained ' +str(i)+ ' latitude and logitudes.')  # Tests your patience

In [18]:
df['clg_city'] = df['college_name'].map(str)+' '+df['city']

In [19]:
tqdm.pandas()
def get_latlong():
    geolocator = Nominatim(user_agent="foursquare_agent")
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
    df['address'] = df['clg_city'].progress_apply(geocode)

In [ ]:
get_latlong() # if function gets stuck, manually stop kernel and execute the block below.

In [26]:
import gmplot

IndexError: list index out of range

<br>

In [25]:
df

,id,college_name,fees,area,city,country,location,clg_city,address
0,16651,School of Nursing and Health Professions,29047.5,California,San Francisco,United States,"California, San Francisco, United States",School of Nursing and Health Professions San F...,None
1,14338,"Kogod School of Business, American University ...",35730.0,"Washington, D.C.","Washington, D. C.",United States,"Washington, D.C., Washington, D. C., United St...","Kogod School of Business, American University ...",None
2,14726,"University at Buffalo, The State University of...",20857.0,New York,Buffalo,United States,"New York, Buffalo, United States","University at Buffalo, The State University of...",None
3,19026,School of Management,21419.0,England,London,United Kingdom,"England, London, United Kingdom",School of Management London,None
4,194,University of South Wales,15514.0,Wales,Pontypridd,United Kingdom,"Wales, Pontypridd, United Kingdom",University of South Wales Pontypridd,"(Bike Shed, Central Avenue, Pontypridd, Hawtho..."
6,228,Middlesex University,13338.0,England,London,United Kingdom,"England, London, United Kingdom",Middlesex University London,"(Middlesex University, Greyhound Hill, Hendon,..."
7,434,University of Northampton,14762.0,England,Northampton,United Kingdom,"England, Northampton, United Kingdom",University of Northampton Northampton,"(The Pavillion, Boughton Green Road, Hill Top,..."
8,11437,Gannon University,21645.0,Pennsylvania,Erie,United States,"Pennsylvania, Erie, United States",Gannon University Erie,"(Gannon University, West 7th Street, Erie, Eri..."
9,307,Royal Holloway University of London,21419.0,England,London,United Kingdom,"England, London, United Kingdom",Royal Holloway University of London London,"(Royal Holloway, Founder's Steam Tunnel, Riple..."
10,12124,Wright State University,22860.0,Ohio,Dayton,United States,"Ohio, Dayton, United States",Wright State University Dayton,None
11,520,Teesside University,8104.0,England,Middlesbrough,United Kingdom,"England, Middlesbrough, United Kingdom",Teesside University Middlesbrough,"(Teesside University, Southfield Road, Southfi..."
12,844,Staffordshire University,14762.0,England,Stoke-on-Trent,United Kingdom,"England, Stoke-on-Trent, United Kingdom",Staffordshire University Stoke-on-Trent,"(Staffordshire University, Leek Road, Joiner's..."
13,12504,Roosevelt University,18832.0,Illinois,Chicago,United States,"Illinois, Chicago, United States",Roosevelt University Chicago,"(Roosevelt University, 430, South Michigan Ave..."
14,12039,George Mason University,25028.0,Virginia,Fairfax,United States,"Virginia, Fairfax, United States",George Mason University Fairfax,"(George Mason University, Sandy Creek Way, Cou..."
15,194,University of South Wales,15514.0,Wales,Pontypridd,United Kingdom,"Wales, Pontypridd, United Kingdom",University of South Wales Pontypridd,"(Bike Shed, Central Avenue, Pontypridd, Hawtho..."
16,12502,Pace University,26505.0,New York,New York City,United States,"New York, New York City, United States",Pace University New York City,"(Pace University, Frankfort Street, Financial ..."
17,19771,University of the Pacific - International,20700.0,California,Stockton,United States,"California, Stockton, United States",University of the Pacific - International Stoc...,None
18,12039,George Mason University,25028.0,Virginia,Fairfax,United States,"Virginia, Fairfax, United States",George Mason University Fairfax,"(George Mason University, Sandy Creek Way, Cou..."
19,165,University of Birmingham,25112.0,England,Birmingham,United Kingdom,"England, Birmingham, United Kingdom",University of Birmingham Birmingham,"(University of Birmingham Edgbaston Campus, Ri..."
20,17024,Marist College,17257.5,New York,Poughkeepsie,United States,"New York, Poughkeepsie, United States",Marist College Poughkeepsie,"(Marist College, Marist 4, Town of Poughkeepsi..."
21,12039,George Mason University,25028.0,Virginia,Fairfax,United States,"Virginia, Fairfax, United States",George Mason University Fairfax,"(George Mason University, Sandy Creek Way, Cou..."
22,713,Manchester Metropolitan University,17946.0,England,Manchester,United Kingdom,"England, Manchester, United Kingdom",Manchester Metropolitan University Manchester,"(Manchester Metropolitan University, Chester S..."
23,12039,George Mason University,25028.0,Virginia,Fairfax,United States,"Virginia, Fairfax, United States",George Mason University Fairfax,"(George Mason University, Sandy Creek Way, Cou..."
24,150,University of the West of England (UWE Bristol),15051.0,England,Bristol,United Kingdom,"England, Bristol, United Kingdom",University of the West of England (UWE Bristol...,"(University of the West of England, Frenchay C..."
25,12168,University of Texas Arlington,18984.0,Texas,Texas City,United States,"Texas, Texas City, United States",University of Texas Arlington Texas City,None
26,17024,Marist College,17257.5,New York,Poughkeepsie,United States,"New York, Poughkeepsie, United States",Marist College Poughkeepsie,"(Marist College, Marist 4, Town of Poughkeepsi..."
27,228,Middlesex University,16093.0,England,London,United Kingdom,"England, London, United Kingdom",Middlesex University London,"(Middlesex University, Greyhound Hill, Hendon,..."
28,13777,Wichita State University,13905.0,Kansas,Wichita,United States,"Kansas, Wichita, United States",Wichita State University Wichita,"(Wichita State University, Perimeter Road, Wic..."
29,284,Coventry University,18293.0,England,Coventry,United Kingdom,"England, Coventry, United Kingdom",Coventry University Coventry,"(Coventry University, Cox Street, Bishopsgate ..."
31,194,University of South Wales,15514.0,Wales,Pontypridd,United Kingdom,"Wales, Pontypridd, United Kingdom",University of South Wales Pontypridd,"(Bike Shed, Central Avenue, Pontypridd, Hawtho..."
...,...,...,...,...,...,...,...,...,...
2107,265,University of York,9031.0,Florida,Tampa,United States,"Florida, Tampa, United States",University of York Tampa,None
2109,110,University of Glasgow,24337.0,New York,Syracuse,United States,"New York, Syracuse, United States",University of Glasgow Syracuse,None
2110,14244,Hofstra University,27922.5,New York,New York City,United States,"New York, New York City, United States",Hofstra University New York City,"(Hofstra University, East Pedestrian Bridge, E..."
2111,215,University of St Andrews,25460.0,Illinois,Evanston,United States,"Illinois, Evanston, United States",University of St Andrews Evanston,None
2112,592,Nottingham Trent University,16788.0,England,Newcastle upon Tyne,United Kingdom,"England, Newcastle upon Tyne, United Kingdom",Nottingham Trent University Newcastle upon Tyne,None
2113,11725,Georgia Institute of Technology (Georgia Tech),31072.5,Virginia,Richmond,United States,"Virginia, Richmond, United States",Georgia Institute of Technology (Georgia Tech)...,None
2114,13145,University of Missouri - Columbia,24459.0,Australian Capital Territory,Canberra,Australia,"Australian Capital Territory, Canberra, Australia",University of Missouri - Columbia Canberra,None
2116,110,University of Glasgow,24337.0,Florida,Jacksonville Beach,United States,"Florida, Jacksonville Beach, United States",University of Glasgow Jacksonville Beach,None
2117,12324,Queen's University,39066.0,Ontario,Hamilton,Canada,"Ontario, Hamilton, Canada",Queen's University Hamilton,None
2118,232,University of Sheffield,26166.0,Missouri,Saint Louis,United States,"Missouri, Saint Louis, United States",University of Sheffield Saint Louis,None
2119,11701,South Dakota State University,13140.0,North Carolina,Winston-Salem,United States,"North Carolina, Winston-Salem, United States",South Dakota State University Winston-Salem,None
2120,300,"City, University of London",18293.0,Wisconsin,Somers,United States,"Wisconsin, Somers, United States","City, University of London Somers",None
2121,530,University of West London,15746.0,England,Newcastle upon Tyne,United Kingdom,"England, Newcastle upon Tyne, United Kingdom",University of West London Newcastle upon Tyne,None
2122,17055,University of Houston Clear Lake,18606.0,England,Birmingham,United Kingdom,"England, Birmingham, United Kingdom",University of Houston Clear Lake Birmingham,None
2123,11993,Iowa State University,23793.0,Illinois,Lisle,United States,"Illinois, Lisle, United States",Iowa State University Lisle,None
2125,119,University of East London,15352.0,New Mexico,Las Cruces,United States,"New Mexico, Las Cruces, United States",University of East London Las Cruces,None
2126,10703,Charles Darwin University,12827.0,Nevada,Paradise,United States,"Nevada, Paradise, United States",Charles Darwin University Paradise,"(Universidad Metropolitana, Avenida 10 de Agos..."
2127,11316,Edge Hill University,15051.0,Texas,Webster,United States,"Texas, Webster, United States",Edge Hill University Webster,None
2128,530,University of West London,15051.0,Michigan,Dearborn Heights,United States,"Michigan, Dearborn Heights, United States",University of West London Dearborn Heights,None
2129,275,University of Sussex,19393.0,England,Luton,United Kingdom,"England, Luton, United Kingdom",University of Sussex Luton,None
2130,247,Edinburgh Napier University,8023.0,England,London,United Kingdom,"England, London, United Kingdom",Edinburgh Napier University London,None
2131,18041,California Miramar University,20599.0,England,London,United Kingdom,"England, London, United Kingdom",California Miramar University London,"(San Diego Miramar College, Miramar College Dr..."
2132,17131,Prairie View A&M University,15727.0,England,London,United Kingdom,"England, London, United Kingdom",Prairie View A&M University London,None
2133,12543,University of Massachusetts Lowell,23809.0,Connecticut,Fairfield,United States,"Connecticut, Fairfield, United States",University of Massachusetts Lowell Fairfield,None
2134,272,Heriot-Watt University,21627.0,Virginia,Richmond,United States,"Virginia, Richmond, United States",Heriot-Watt University Richmond,None
2135,11023,Florida International University,20362.5,England,Reading,United Kingdom,"England, Reading, United Kingdom",Florida International University Reading,None
2136,11497,University of Cincinnati,5774.0,Ontario,Guelph,Canada,"Ontario, Guelph, Canada",University of Cincinnati Guelph,None
2137,11405,San Diego State University,8075.0,Massachusetts,Boston,United States,"Massachusetts, Boston, United States",San Diego State University Boston,None
2138,1878,Rdi Uk,6638.0,Oklahoma,Stillwater,United States,"Oklahoma, Stillwater, United States",Rdi Uk Stillwater,None
2139,12100,Rochester Institute of Technology,41100.0,Ohio,Cleveland,United States,"Ohio, Cleveland, United States",Rochester Institute of Technology Cleveland,None

In [21]:
# execute this block if get_latlong() gets stuck
with open('latFile.txt','a+') as latFile:
    latFile.write(str(latitude)+',')
with open('longFile.txt','a+') as longFile:
    longFile.write(str(longitude)+',')

NameError: name 'latitude' is not defined

<br>

## Making new columns in df from latFile and longFile.

<br>

In [ ]:
with open('latFile.txt') as latFile:
    latitude = latFile.read()
with open('longFile.txt') as longFile:
    longitude = longFile.read()
latitude= latitude.strip('][').split(', ') #converting latitude from string to float
longitude= longitude.strip('][').split(', ') #converting latitude from string to float

In [ ]:
for i in range(len(latitude)):
    try:
        latitude[i] = float(latitude[i])
    except ValueError:
        latitude[i] = None
for i in range(len(longitude)):
    try:
        longitude[i] = float(longitude[i])
    except ValueError:
        longitude[i] = None

In [ ]:
df = df[df['area'].notnull()]

In [ ]:
df.head()

In [ ]:
df.to_csv('college_dataset.csv')

<br>

## We have saved the data to college_dataset.csv 

<br>

In [ ]:
df = pd.read_csv("college_dataset.csv")

In [ ]:
df = df[df['latitude'].notnull()] #new df from current df where tuition_fee.currency is not null
df = df[df['longitude'].notnull()]

In [ ]:
df.head()

In [ ]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

<br><br><br><br><br>


# Exploratory Data Analysis

So now that we have our data it's time to explore it. Lets see the number per country. The venues data frame would make it easy to do so.

In [ ]:
df.head()

In [ ]:
df['country'].value_counts()

## So, I have no clue but somehow all these countries crept in through our json, We don't need them since they are too less in numbers, we'll keep only US, UK and Canada

In [ ]:
df = df[df['country'].str.contains("United States|United Kingdom|Canada")] 
# keeping only the locations with location-country as US, UK, Canada

In [ ]:
df.shape

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

In [ ]:
import folium

In [ ]:
df_usa = df[df['country'] == 'United States']
df_usa.shape

In [ ]:
usa_coordinates = [37.0902, -95.7129]
USAmap = folium.Map(location=usa_coordinates, zoom_start = 4)

college_markers = folium.map.FeatureGroup()

for lat, lng, label in zip(df_usa.latitude, df_usa.longitude, df_usa.college_name):
    college_markers.add_child(
        folium.features.Marker(
            location=[lat, lng],
            tooltip=label,
        )
    )

# add incidents to map
USAmap.add_child(college_markers)

In [ ]:
usa_map.choropleth(
    geo_data=world_geo,
    data=df_can,
    columns=['Country', 'Total'],
    key_on='feature.properties.name',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Immigration to Canada'
)

# display map
world_map